wheel
captum
debugpy
imagenet-c
numpy
opencv-python-headless
pandas
Pillow
PyGObject
pytorch-lightning
redis
scikit-image
tensorboard
torch
torchvision

# temporary:
#imageai
#tensorflow<2
#keras<2.4.0
#opencv-python
#requests
