captum
debugpy
imagenet-c
numpy
opencv-python-headless
pandas
Pillow
redis
scikit-image
tensorboard
torch<1.7.0
torchvision<0.8.0

# temporary:
#imageai
#tensorflow<2
#keras<2.4.0
#opencv-python
#requests
